# Copyright (c) 2025 Nuvoton Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_M333X

source "soc/nuvoton/numaker/m333x/Kconfig.defconfig.m333xxx"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/system-clock,clock-frequency)

endif # SOC_SERIES_M333X
