config OPT_AAA 
  bool "Op AAA"
  default y

config OPT_BBB
  bool "Op BBB"

config OPT_CCC
  bool "Op CCC"

config OPT_DDD
  bool "if DDD"

config OPT_EEE
  bool "Op EEE"

config OPT_ZZZ
  bool "if OPT_ZZZ"

if OPT_ZZZ
endif


choice
  prompt "P3 - single"
  help 
    Some awesome help text nr. 2 
    that should be transformed 
  depends on OPT_AAA
  default CH_SD if OPT_BBB
  config CH_SD
    bool "CH_SD"
  config CH_SD2
    bool "CH_SD2"
  if OPT_CCC
   menuconfig MC_SD2
    bool "MC_SD"
  endif
endchoice
  menuconfig MC_SD1
    bool "MC_SD"
    depends on OPT_AAA
    
