config AAA 
  bool "AAA"
  default y

config OPT_Z
  def_bool y

config BB
  def_bool y

if OPT_Z

config Z1
  bool "Z1"

choice NAMED_CH
  depends on AAA
  default CH_C if BB
  if CCC
  config CH_C
    bool "Op C" 
  endif
  config CH_D
    bool "Op D" 
endchoice 
endif
