config AAA 
  bool "AAA"
  default y

config OPT_Z
  bool "if OPT_Z"

config BB
  bool "if BB"

if OPT_Z

choice NAMED_CH
  depends on AAA
  default CH_C if BB
  if BB
  config CH_C
    bool "Op C" 
  menuconfig MC1
    bool "M"
  endif
  menuconfig MC2
    bool "MC2"
  config CMC2
    bool "cMCx"
  config CMC3
    bool "cMCxx"
  config CH_D
    bool "Op D" 
endchoice 
endif