config OPT_AAA 
  bool "Op AAA"
  default y

config OPT_BBB
  bool "Op BBB"

config OPT_CCC
  bool "Op CCC"

config OPT_DDD
  bool "if DDD"

config OPT_EEE
  bool "Op EEE"

config OPT_ZZZ
  bool "if OPT_ZZZ"

if OPT_ZZZ
choice NAMED_CH
  bool "P1"
  help 
    Some awesome help text  
    that should be transformed 
  depends on OPT_AAA
  default CH_C if OPT_BBB

  if OPT_DDD
  config CH_C
    bool "Op C" 
  menuconfig MC1
    bool "M"
  endif

  menuconfig MC2
    bool "MC2"
  config CMC2
    bool "CMC2"
    depends on MC2
  config CMC3
    bool "CMC3"
    depends on MC2
endchoice 
endif

choice NAMED_CH
  prompt "P2"
  depends on OPT_ZZZ
  default E 
  config CH_E
    bool "Op E"
  config CH_D
    bool "Op D"
endchoice

choice SINGLE_DEF
  prompt "P3 - single"
  help 
    Some awesome help text nr. 2 
    that should be transformed 
  depends on OPT_AAA
  default CH_SD if OPT_BBB
  config CH_SD
    bool "CH_SD"
  config CH_SD2
    bool "CH_SD2"
  menuconfig MC_SD1
    bool "MC_SD"
  if OPT_CCC
   menuconfig MC_SD2
    bool "MC_SD"
  endif
endchoice
    