# Copyright (c) 2024 CISPA Helmholtz Center for Information Security gGmbH
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_OPENHWGROUP_CVA6

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/openhwgroup/cva6/soc/openhwgroup/cva6/cv32a6/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/openhwgroup/cva6/soc/openhwgroup/cva6/cv64a6/Kconfig"

endif # SOC_FAMILY_OPENHWGROUP_CVA6
