# Copyright (c) 2020 ITE Corporation. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_ITE_EC

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/ite/ec/soc/ite/ec/it51xxx/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/ite/ec/soc/ite/ec/it8xxx2/Kconfig"

endif # SOC_FAMILY_ITE_EC
