# Copyright 2022-2024 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_NXP_S32

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32k1/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32k3/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32ze/Kconfig"

endif # SOC_FAMILY_NXP_S32
