# Copyright 2022,2024 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_NXP_S32

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32k1/Kconfig.defconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32k3/Kconfig.defconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32ze/Kconfig.defconfig"

endif # SOC_FAMILY_NXP_S32
