menu "main"

config AA
  bool "set"
  default y

config BB
  bool "get"
  depends on AA
  default y if FOO

config C
  def_bool n

config CY
  def_bool y if CN

config CN
  def_bool n if C

config DEFSTRING
  def_string "x"
  prompt "prompt"

config TEST
  int "set def"
  default 5

config FOO
  bool "first Option"

config FOO
  bool "seconf"
  default y

configdefault FOO
  default y if CY

#source "exp_u1/*"
#source "/home/ljd/wsMA_prototyp/exp_copy/exp_u1/*"
source "/home/ljd/wsMA_prototyp/exp/exp_u1/Kconfig?"
#source "exp_u2/*"
#source "${SRCTREE}/exp_u1/*"
endmenu