menu "main"

config CY
  def_bool y

config CN
  def_bool n

config TEST
  int "set def"
  default 5

config FOO
  bool "first Option"

config FOO
  bool "seconf"
  default y

configdefault FOO
  default y if CY

endmenu