menu "test"
  depends on ACCC

if CY
configdefault FOO
  default y if CN
endif

configdefault FOO
  default CY
if C
configdefault FOO
  default CY && AA
endif
configdefault DEFSTRING
  default "x2"
endmenu

config ACCC
  bool 
  default y