# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_NXP_IMX
	bool

config SOC_FAMILY
	default "nxp_imx" if SOC_FAMILY_NXP_IMX

source "soc/nxp/imx/imx6sx/Kconfig.soc"
source "soc/nxp/imx/imx7d/Kconfig.soc"
source "soc/nxp/imx/imx8/Kconfig.soc"
source "soc/nxp/imx/imx8m/Kconfig.soc"
source "soc/nxp/imx/imx8ulp/Kconfig.soc"
source "soc/nxp/imx/imx8x/Kconfig.soc"
source "soc/nxp/imx/imx9/Kconfig.soc"
