#
# Copyright (c) 2021 Linaro, Limited
# Copyright 2025 NXP
#
# SPDX-License-Identifier: Apache-2.0


config ZEPHYR_HAL_NXP_MODULE
	bool

source "modules/hal_nxp/imx/Kconfig.imx"
source "modules/hal_nxp/s32/Kconfig.nxp_s32"
source "modules/hal_nxp/mcux/Kconfig.mcux"
