# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2021 ASPEED Technology Inc.

if SOC_SERIES_AST10X0

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/aspeed/ast10x0/soc/aspeed/ast10x0/Kconfig.defconfig.ast1030"

config ICACHE_LINE_SIZE
	default 32

config DCACHE_LINE_SIZE
	default 32

choice CACHE_TYPE
	default EXTERNAL_CACHE
endchoice

endif # SOC_SERIES_AST10X0
