# Copyright (c) 2021 BrainCo Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_GD32F3X0

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/gd/gd32/gd32f3x0/soc/gd/gd32/gd32f3x0/Kconfig.defconfig.gd32f350"

endif # SOC_SERIES_GD32F3X0
