venv/
venv_zephyr_rtos/
venv_zrtos_demo/
venv_esp_idf/
venv_zrtos_demo1

__pycache__/
.vscode/

ZRTOS_demo/

results_old.xlsx
transform_demo.log

ZRTOS_demo2/
ZRTOS_demo1/

ESP_IDF_demo
venv_esp_idf_demo

venv_zrtos_demo2
ZRTOS_demo1_without_defconfig

core/old_scripts/
lessonslearnednotes.txt
.env