[submodule "external/ZephyrKconfiglib"]
	path = external/ZephyrKconfiglib
	url = https://github.com/zephyrproject-rtos/Kconfiglib.git
[submodule "external/ESPIDFKconfig"]
	path = external/ESPIDFKconfig
	url = https://github.com/espressif/esp-idf-kconfig.git
[submodule "external/ZephyrRTOS"]
	path = external/ZephyrRTOS
	url = https://github.com/zephyrproject-rtos/zephyr.git
