venv/
venv_zephyr_rtos/
venv_zrtos_demo/
venv_esp_idf/

__pycache__/
.vscode/

ZRTOS_demo/
core/old_scripts/single_file.py

results.xlsx
transform_demo.log
transform_projects/transform_zrtos/ZRTOS_copy1/