venv/
venv_zephyr_rtos/
venv_zrtos_demo/
venv_esp_idf/
venv_zrtos_demo1

__pycache__/
.vscode/

ZRTOS_demo/
core/old_scripts/single_file.py

results.xlsx
transform_demo.log

ZRTOS_demo2/
ZRTOS_demo1/
