mainmenu "Test def_*"

config MODULES
  def_bool y 
  modules

config OPTION1
  def_bool y
  prompt "option bool"

config OPTION2
  def_tristate n
  prompt "option tristate"

config OPTION3
  int
  default 5
  prompt "option int"

config OPTION4
  hex
  default 0x8000000
  prompt "option hex"

config OPTION5
  string
  default "text"
  prompt "option string"
