# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_MICROCHIP_MIV

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/miv/soc/microchip/miv/miv/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/miv/soc/microchip/miv/polarfire/Kconfig"

endif # SOC_FAMILY_MICROCHIP_MIV
