# PSOC CAT1B Configuration

# Copyright (c) 2024 Cypress Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_INFINEON_CAT1B

source "soc/infineon/cat1b/cyw20829/Kconfig.defconfig"

endif # SOC_FAMILY_INFINEON_CAT1B
