#
# Copyright 2021 Huawei France Technologies SASU
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_FAMILY_ROCKCHIP

source "soc/rockchip/rk35/rk3568/Kconfig"
source "soc/rockchip/rk35/rk3588s/Kconfig"

endif # SOC_FAMILY_ROCKCHIP
