# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if RISCV_PRIVILEGED

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/common/soc/common/riscv-privileged/Kconfig"

endif # RISCV_PRIVILEGED
