# Copyright 2017,2024 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_LPC

config BUILD_WITH_TFM
	default y if TRUSTED_EXECUTION_NONSECURE

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/lpc/soc/nxp/lpc/lpc11u6x/Kconfig.defconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/lpc/soc/nxp/lpc/lpc51u68/Kconfig.defconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/lpc/soc/nxp/lpc/lpc54xxx/Kconfig.defconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/lpc/soc/nxp/lpc/lpc55xxx/Kconfig.defconfig"

endif # SOC_FAMILY_LPC
