# Copyright (c) 2025 Egis Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_EGIS_ET171

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/egis/soc/egis/et171/Kconfig"

endif # SOC_EGIS_ET171
