# Copyright (c) 2024 Nuvoton Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_NPCM

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nuvoton/npcm/soc/nuvoton/npcm/npcm4/Kconfig"

endif # SOC_FAMILY_NPCM
