# Copyright 2017,2024 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_LPC
	bool

config SOC_FAMILY
	default "lpc" if SOC_FAMILY_LPC

source "soc/nxp/lpc/lpc11u6x/Kconfig.soc"
source "soc/nxp/lpc/lpc51u68/Kconfig.soc"
source "soc/nxp/lpc/lpc54xxx/Kconfig.soc"
source "soc/nxp/lpc/lpc55xxx/Kconfig.soc"
