# Copyright 2025 Basalte bv
# SPDX-License-Identifier: Apache-2.0

config SHIELD_OPENTHREAD_RCP_ARDUINO_SERIAL
 bool
 default $(shields_list_contains,openthread_rcp_arduino_serial)

config SHIELD_OPENTHREAD_RCP_ARDUINO_SPI
 bool
 default $(shields_list_contains,openthread_rcp_arduino_spi)
