# SPDX-FileCopyrightText: Copyright (c) 2024 Navimatix GmbH
# SPDX-License-Identifier: Apache-2.0

comment "TI Stepper Drivers"

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/drivers/stepper/ti/drivers/stepper/ti/Kconfig.drv84xx"
