# Copyright (c) 2022 Meta
#
# SPDX-License-Identifier: Apache-2.0
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/lib/hash/lib/hash/Kconfig.hash_func"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/lib/hash/lib/hash/Kconfig.hash_map"
