#
# Copyright (c) 2021 Weidmueller Interface GmbH & Co. KG
# SPDX-License-Identifier: Apache-2.0
#

if SOC_FAMILY_XILINX_ZYNQ7000

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/xlnx/zynq7000/soc/xlnx/zynq7000/xc7zxxx/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/xlnx/zynq7000/soc/xlnx/zynq7000/xc7zxxxs/Kconfig"

endif # SOC_FAMILY_XILINX_ZYNQ7000
