# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_IMX8M

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/imx/imx8m/soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8ml8_a53"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/imx/imx8m/soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8ml8_adsp"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/imx/imx8m/soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8ml8_m7"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/imx/imx8m/soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8mm6_a53"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/imx/imx8m/soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8mm6_m4"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/imx/imx8m/soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8mn6_a53"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/imx/imx8m/soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8mq6_m4"

endif # SOC_SERIES_IMX8M
