# Copyright (c) 2025 Andes Technology Corporation
# SPDX-License-Identifier: Apache-2.0

if DT_HAS_ANDESTECH_ANDESCORE_V5_ENABLED

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/arch/riscv/custom/arch/riscv/custom/andes/Kconfig"

endif # DT_HAS_ANDESTECH_ANDESCORE_V5_ENABLED

if DT_HAS_SPINALHDL_VEXRISCV_ENABLED

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/arch/riscv/custom/arch/riscv/custom/vexriscv/Kconfig"

endif # DT_HAS_SPINALHDL_VEXRISCV_ENABLED

if DT_HAS_XUANTIE_E907_ENABLED

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/arch/riscv/custom/arch/riscv/custom/thead/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/arch/riscv/custom/arch/riscv/custom/thead/Kconfig.core"

endif # DT_HAS_XUANTIE_E907_ENABLED
