menu "Device Drivers"

source "../../components/drivers/core/Kconfig"
source "../../components/drivers/ipc/Kconfig"

source "../../components/drivers/serial/Kconfig"
source "../../components/drivers/can/Kconfig"
source "../../components/drivers/cputime/Kconfig"
source "../../components/drivers/i2c/Kconfig"
source "../../components/drivers/phy/Kconfig"
source "../../components/drivers/misc/Kconfig"
source "../../components/drivers/mtd/Kconfig"
source "../../components/drivers/pm/Kconfig"
source "../../components/drivers/rtc/Kconfig"
source "../../components/drivers/sdio/Kconfig"
source "../../components/drivers/spi/Kconfig"
source "../../components/drivers/watchdog/Kconfig"
source "../../components/drivers/audio/Kconfig"
source "../../components/drivers/sensor/Kconfig"
source "../../components/drivers/touch/Kconfig"
source "../../components/drivers/graphic/Kconfig"
source "../../components/drivers/hwcrypto/Kconfig"
source "../../components/drivers/wlan/Kconfig"
source "../../components/drivers/led/Kconfig"
source "../../components/drivers/input/Kconfig"
source "../../components/drivers/mailbox/Kconfig"
source "../../components/drivers/hwspinlock/Kconfig"
source "../../components/drivers/phye/Kconfig"
source "../../components/drivers/ata/Kconfig"
source "../../components/drivers/nvme/Kconfig"
source "../../components/drivers/block/Kconfig"
source "../../components/drivers/scsi/Kconfig"
source "../../components/drivers/firmware/Kconfig"
source "../../components/drivers/hwcache/Kconfig"
source "../../components/drivers/regulator/Kconfig"
source "../../components/drivers/reset/Kconfig"
source "../../components/drivers/pmdomain/Kconfig"
source "../../components/drivers/thermal/Kconfig"
source "../../components/drivers/virtio/Kconfig"
source "../../components/drivers/nvmem/Kconfig"
source "../../components/drivers/dma/Kconfig"
source "../../components/drivers/mfd/Kconfig"
source "../../components/drivers/ofw/Kconfig"
source "../../components/drivers/pci/Kconfig"
source "../../components/drivers/pic/Kconfig"
source "../../components/drivers/pin/Kconfig"
source "../../components/drivers/pinctrl/Kconfig"
source "../../components/drivers/ktime/Kconfig"
source "../../components/drivers/clk/Kconfig"
source "../../components/drivers/hwtimer/Kconfig"

endmenu
