source "src/modules/airship_att_control/Kconfig"
source "src/modules/airspeed_selector/Kconfig"
source "src/modules/attitude_estimator_q/Kconfig"
source "src/modules/battery_status/Kconfig"
source "src/modules/camera_feedback/Kconfig"
source "src/modules/commander/Kconfig"
source "src/modules/control_allocator/Kconfig"
source "src/modules/dataman/Kconfig"
source "src/modules/ekf2/Kconfig"
source "src/modules/esc_battery/Kconfig"
source "src/modules/events/Kconfig"
source "src/modules/flight_mode_manager/Kconfig"
source "src/modules/fw_att_control/Kconfig"
source "src/modules/fw_autotune_attitude_control/Kconfig"
source "src/modules/fw_lateral_longitudinal_control/Kconfig"
source "src/modules/fw_mode_manager/Kconfig"
source "src/modules/fw_rate_control/Kconfig"
source "src/modules/gimbal/Kconfig"
source "src/modules/gyro_calibration/Kconfig"
source "src/modules/gyro_fft/Kconfig"
source "src/modules/hardfault_stream/Kconfig"
source "src/modules/internal_combustion_engine_control/Kconfig"
source "src/modules/land_detector/Kconfig"
source "src/modules/landing_target_estimator/Kconfig"
source "src/modules/load_mon/Kconfig"
source "src/modules/local_position_estimator/Kconfig"
source "src/modules/logger/Kconfig"
source "src/modules/mag_bias_estimator/Kconfig"
source "src/modules/manual_control/Kconfig"
source "src/modules/mavlink/Kconfig"
source "src/modules/mc_att_control/Kconfig"
source "src/modules/mc_autotune_attitude_control/Kconfig"
source "src/modules/mc_hover_thrust_estimator/Kconfig"
source "src/modules/mc_nn_control/Kconfig"
source "src/modules/mc_pos_control/Kconfig"
source "src/modules/mc_rate_control/Kconfig"
source "src/modules/muorb/Kconfig"
source "src/modules/navigator/Kconfig"
source "src/modules/payload_deliverer/Kconfig"
source "src/modules/px4iofirmware/Kconfig"
source "src/modules/rc_update/Kconfig"
source "src/modules/replay/Kconfig"
source "src/modules/rover_ackermann/Kconfig"
source "src/modules/rover_differential/Kconfig"
source "src/modules/rover_mecanum/Kconfig"
source "src/modules/sensors/Kconfig"
source "src/modules/simulation/Kconfig"
source "src/modules/spacecraft/Kconfig"
source "src/modules/temperature_compensation/Kconfig"
source "src/modules/time_persistor/Kconfig"
source "src/modules/uuv_att_control/Kconfig"
source "src/modules/uuv_pos_control/Kconfig"
source "src/modules/uxrce_dds_client/Kconfig"
source "src/modules/vtol_att_control/Kconfig"
source "src/modules/zenoh/Kconfig"
