# Copyright (c) 2025 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_SF32
	select HAS_SIFLI_HAL

if SOC_FAMILY_SF32

source "soc/sifli/sf32/sf32lb52x/Kconfig"

endif # SOC_FAMILY_SF32
