# Copyright (c) 2025 Bootlin
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_QINGKE_V4F

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)

config CLOCK_CONTROL
	default y

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/wch/ch32v/qingke_v4f/soc/wch/ch32v/qingke_v4f/Kconfig.defconfig.ch32v303"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/wch/ch32v/qingke_v4f/soc/wch/ch32v/qingke_v4f/Kconfig.defconfig.ch32v307"

endif # SOC_SERIES_QINGKE_V4F
