# Nordic Semiconductor nRF54L MCU line

# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_NRF54LX

source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54l09_enga_cpuapp"
source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54l09_enga_cpuflpr"
source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54l20_enga_cpuapp"
source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54l20_enga_cpuflpr"
source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54l_05_10_15_cpuapp"
source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54l_05_10_15_cpuflpr"
source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54lm20a_enga_cpuapp"
source "soc/nordic/nrf54l/Kconfig.defconfig.nrf54lm20a_enga_cpuflpr"

if ARM

config CORTEX_M_SYSTICK
	default !NRF_GRTC_TIMER

# Start SYSCOUNTER on driver init
config NRF_GRTC_START_SYSCOUNTER
	default NRF_GRTC_TIMER

config CACHE_NRF_CACHE
	default y if EXTERNAL_CACHE

config CACHE_MANAGEMENT
	default y


# MPU-based null-pointer dereferencing detection cannot
# be applied as the (0x0 - 0x400) is unmapped for this target.
choice
	default NULL_POINTER_EXCEPTION_DETECTION_NONE
endchoice
endchoice

endif # ARM

if RISCV

DT_CHOSEN_Z_SRAM = zephyr,sram
DT_CHOSEN_Z_CODE = zephyr,code-partition

config BUILD_OUTPUT_ADJUST_LMA
	depends on !XIP
	default "$(dt_chosen_partition_addr_hex,$(DT_CHOSEN_Z_CODE)) - \
		 $(dt_chosen_reg_addr_hex,$(DT_CHOSEN_Z_SRAM))"

endif # RISCV

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_nodelabel_int_prop,grtc,clock-frequency) if NRF_GRTC_TIMER

endif # SOC_SERIES_NRF54LX
