# Copyright (c) 2022-2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_INTEL_SOCFPGA_STD

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/intel/intel_socfpga_std/soc/intel/intel_socfpga_std/cyclonev/Kconfig"

endif # SOC_FAMILY_INTEL_SOCFPGA_STD
