source "src/systemcmds/actuator_test/Kconfig"
source "src/systemcmds/bl_update/Kconfig"
source "src/systemcmds/bsondump/Kconfig"
source "src/systemcmds/dmesg/Kconfig"
source "src/systemcmds/dumpfile/Kconfig"
source "src/systemcmds/dyn/Kconfig"
source "src/systemcmds/failure/Kconfig"
source "src/systemcmds/gpio/Kconfig"
source "src/systemcmds/hardfault_log/Kconfig"
source "src/systemcmds/hist/Kconfig"
source "src/systemcmds/i2c_launcher/Kconfig"
source "src/systemcmds/i2cdetect/Kconfig"
source "src/systemcmds/io_bypass_control/Kconfig"
source "src/systemcmds/launch_kmod/Kconfig"
source "src/systemcmds/led_control/Kconfig"
source "src/systemcmds/mft/Kconfig"
source "src/systemcmds/mft_cfg/Kconfig"
source "src/systemcmds/microbench/Kconfig"
source "src/systemcmds/mtd/Kconfig"
source "src/systemcmds/netman/Kconfig"
source "src/systemcmds/nshterm/Kconfig"
source "src/systemcmds/param/Kconfig"
source "src/systemcmds/perf/Kconfig"
source "src/systemcmds/reboot/Kconfig"
source "src/systemcmds/reflect/Kconfig"
source "src/systemcmds/sd_bench/Kconfig"
source "src/systemcmds/sd_stress/Kconfig"
source "src/systemcmds/serial_passthru/Kconfig"
source "src/systemcmds/serial_test/Kconfig"
source "src/systemcmds/shutdown/Kconfig"
source "src/systemcmds/system_time/Kconfig"
source "src/systemcmds/tests/Kconfig"
source "src/systemcmds/top/Kconfig"
source "src/systemcmds/topic_listener/Kconfig"
source "src/systemcmds/tune_control/Kconfig"
source "src/systemcmds/uorb/Kconfig"
source "src/systemcmds/usb_connected/Kconfig"
source "src/systemcmds/ver/Kconfig"
source "src/systemcmds/work_queue/Kconfig"
