#
# Copyright (c) 2019, NXP
# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0
#

if SHIELD_FRDM_CR20A

if IEEE802154

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/boards/shields/frdm_cr20a/boards/shields/frdm_cr20a/boards/frdm_k64f.defconfig"

endif # IEEE802154

endif # SHIELD_FRDM_CR20A
