# Copyright (c) 2021, Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_GD32F4XX

source "soc/gd/gd32/gd32f4xx/Kconfig.defconfig.gd32f405"
source "soc/gd/gd32/gd32f4xx/Kconfig.defconfig.gd32f407"
source "soc/gd/gd32/gd32f4xx/Kconfig.defconfig.gd32f450"
source "soc/gd/gd32/gd32f4xx/Kconfig.defconfig.gd32f470"

endif # SOC_SERIES_GD32F4XX
