# Copyright 2022,2024 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_NXP_S32
	bool

config SOC_FAMILY
	default "nxp_s32" if SOC_FAMILY_NXP_S32

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32k1/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32k3/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/s32/soc/nxp/s32/s32ze/Kconfig.soc"
