# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_IMX9

source "soc/nxp/imx/imx9/imx95/Kconfig.defconfig.mimx95.a55"
source "soc/nxp/imx/imx9/imx95/Kconfig.defconfig.mimx95.m7"

endif # SOC_SERIES_IMX9
