# PSOC CAT1B Configuration

# Copyright (c) 2024 Cypress Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_INFINEON_CAT1C

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/infineon/cat1c/soc/infineon/cat1c/xmc7200/Kconfig.defconfig"

endif # SOC_FAMILY_INFINEON_CAT1C
