# Copyright (c) 2022 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

if SHIELD_MIKROE_WIFI_BT_CLICK || \
	SHIELD_MIKROE_WIFI_BT_CLICK_MIKROBUS || \
	SHIELD_MIKROE_WIFI_BT_CLICK_ARDUINO

if NETWORKING

endif # NETWORKING

endif   # SHIELD_MIKROE_WIFI_BT_CLICK
