# Copyright (C) 2025 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: Apache-2.0
#

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/sam/sama7/soc/microchip/sam/sama7/sama7d6/Kconfig.defconfig"
