# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Antmicro <www.antmicro.com>

if SOC_FAMILY_AMBIQ

source "soc/ambiq/apollo3x/Kconfig.defconfig"
source "soc/ambiq/apollo4x/Kconfig.defconfig"
source "soc/ambiq/apollo5x/Kconfig.defconfig"

config CORTEX_M_SYSTICK
	default n if AMBIQ_STIMER_TIMER

config SYS_CLOCK_TICKS_PER_SEC
	default 1024

endif # SOC_FAMILY_AMBIQ
