# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Antmicro <www.antmicro.com>

if SOC_FAMILY_AMBIQ

source "soc/ambiq/apollo3x/Kconfig"
source "soc/ambiq/apollo4x/Kconfig"
source "soc/ambiq/apollo5x/Kconfig"

endif # SOC_FAMILY_AMBIQ
