# Copyright (c) 2021, ATL Electronics
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_GD_GD32
	select HAS_GD32_HAL
	select BUILD_OUTPUT_HEX
	select HAS_SEGGER_RTT if ZEPHYR_SEGGER_MODULE

if SOC_FAMILY_GD_GD32

source "soc/gd/gd32/gd32a50x/Kconfig"
source "soc/gd/gd32/gd32e10x/Kconfig"
source "soc/gd/gd32/gd32e50x/Kconfig"
source "soc/gd/gd32/gd32f3x0/Kconfig"
source "soc/gd/gd32/gd32f403/Kconfig"
source "soc/gd/gd32/gd32f4xx/Kconfig"
source "soc/gd/gd32/gd32l23x/Kconfig"
source "soc/gd/gd32/gd32vf103/Kconfig"

endif # SOC_FAMILY_GD_GD32
