# Copyright (c) 2022, Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_GD32E50X

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/gd/gd32/gd32e50x/soc/gd/gd32/gd32e50x/Kconfig.defconfig.gd32e507"

endif # SOC_SERIES_GD32E50X
