# Copyright (c) 2025 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_SF32

config BUILD_OUTPUT_HEX
	default y

source "soc/sifli/sf32/sf32lb52x/Kconfig.defconfig"

endif # SOC_FAMILY_SF32
