# ST Microelectronics STM32F7 MCU line

# Copyright (c) 2018 Yurii Hamann
# SPDX-License-Identifier: Apache-2.0

# Kconfig symbols common to STM32F7 series

if SOC_SERIES_STM32F7X

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f722xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f723xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f745xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f746xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f750xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f756xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f765xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f767xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32f7x/soc/st/stm32/stm32f7x/Kconfig.defconfig.stm32f769xx"

endif # SOC_SERIES_STM32F7X
