# TI SimpleLink Family
# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2016-2017, Texas Instruments Incorporated

if SOC_SERIES_CC32XX

source "soc/ti/simplelink/cc32xx/Kconfig.defconfig.cc3220sf"
source "soc/ti/simplelink/cc32xx/Kconfig.defconfig.cc3235sf"

endif # SOC_SERIES_CC32XX
