# Copyright (c) 2023 Nuvoton Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_NUMAKER
	bool

config SOC_FAMILY
	default "numaker" if SOC_FAMILY_NUMAKER

source "soc/nuvoton/numaker/m2l31x/Kconfig.soc"
source "soc/nuvoton/numaker/m46x/Kconfig.soc"
source "soc/nuvoton/numaker/m55m1x/Kconfig.soc"
