# Copyright (c) 2023 Espressif Systems (Shanghai) Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_ESPRESSIF_ESP32
	bool

config SOC_FAMILY
	default "espressif_esp32" if SOC_FAMILY_ESPRESSIF_ESP32

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/espressif/soc/espressif/esp32/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/espressif/soc/espressif/esp32c2/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/espressif/soc/espressif/esp32c3/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/espressif/soc/espressif/esp32c6/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/espressif/soc/espressif/esp32h2/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/espressif/soc/espressif/esp32s2/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/espressif/soc/espressif/esp32s3/Kconfig.soc"
