# Copyright (c) 2023 Antmicro
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_SILABS_SIWX91X
	bool

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/silabs/silabs_siwx91x/soc/silabs/silabs_siwx91x/siwg917/Kconfig.soc"
