# Copyright (c) 2022-2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_AGILEX5

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/intel/intel_socfpga/agilex5/soc/intel/intel_socfpga/agilex5/Kconfig.defconfig.agilex5"

endif # SOC_SERIES_AGILEX5
