# ST Microelectronics STM32 MCU line

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_STM32
	bool

config SOC_FAMILY
	default "stm32" if SOC_FAMILY_STM32

source "soc/st/stm32/stm32c0x/Kconfig.soc"
source "soc/st/stm32/stm32f0x/Kconfig.soc"
source "soc/st/stm32/stm32f1x/Kconfig.soc"
source "soc/st/stm32/stm32f2x/Kconfig.soc"
source "soc/st/stm32/stm32f3x/Kconfig.soc"
source "soc/st/stm32/stm32f4x/Kconfig.soc"
source "soc/st/stm32/stm32f7x/Kconfig.soc"
source "soc/st/stm32/stm32g0x/Kconfig.soc"
source "soc/st/stm32/stm32g4x/Kconfig.soc"
source "soc/st/stm32/stm32h5x/Kconfig.soc"
source "soc/st/stm32/stm32h7rsx/Kconfig.soc"
source "soc/st/stm32/stm32h7x/Kconfig.soc"
source "soc/st/stm32/stm32l0x/Kconfig.soc"
source "soc/st/stm32/stm32l1x/Kconfig.soc"
source "soc/st/stm32/stm32l4x/Kconfig.soc"
source "soc/st/stm32/stm32l5x/Kconfig.soc"
source "soc/st/stm32/stm32mp13x/Kconfig.soc"
source "soc/st/stm32/stm32mp1x/Kconfig.soc"
source "soc/st/stm32/stm32mp2x/Kconfig.soc"
source "soc/st/stm32/stm32n6x/Kconfig.soc"
source "soc/st/stm32/stm32u0x/Kconfig.soc"
source "soc/st/stm32/stm32u3x/Kconfig.soc"
source "soc/st/stm32/stm32u5x/Kconfig.soc"
source "soc/st/stm32/stm32wb0x/Kconfig.soc"
source "soc/st/stm32/stm32wbax/Kconfig.soc"
source "soc/st/stm32/stm32wbx/Kconfig.soc"
source "soc/st/stm32/stm32wlx/Kconfig.soc"
