# Copyright (c) 2019-2020 Cobham Gaisler AB
# SPDX-License-Identifier: Apache-2.0

config SOC_LEON3
	bool

config SOC
	default "leon3" if SOC_LEON3

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/gaisler/leon3/soc/gaisler/Kconfig.soc"
