# ST Microelectronics STM32WB MCU line

# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_STM32WBX

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32wbx/soc/st/stm32/stm32wbx/Kconfig.defconfig.stm32wb55xx"

config BT_USER_PHY_UPDATE
	default y if BT

endif # SOC_SERIES_STM32WBX
