# Copyright (c) 2022-2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_CYCLONEV

source "soc/intel/intel_socfpga_std/cyclonev/Kconfig.defconfig.cyclonev"

endif # SOC_SERIES_CYCLONEV
