# Copyright (c) 2025 TOKITA Hiroshi
# SPDX-License-Identifier: Apache-2.0

config SHIELD_WAVESHARE_PICO_LCD_1_14
 bool
 default $(shields_list_contains,waveshare_pico_lcd_1_14)

config SHIELD_WAVESHARE_PICO_LCD_1_14_DISPLAY
 bool
 default $(shields_list_contains,waveshare_pico_lcd_1_14_display)

config SHIELD_WAVESHARE_PICO_LCD_1_14_BUTTONS
 bool
 default $(shields_list_contains,waveshare_pico_lcd_1_14_buttons)
