#
# Copyright 2024 NXP
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_FAMILY_NXP_LAYERSCAPE

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nxp/layerscape/soc/nxp/layerscape/ls1046a/Kconfig.defconfig"

endif # SOC_FAMILY_NXP_LAYERSCAPE
