# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config SHIELD_NRF7002EK
 bool
 default $(shields_list_contains,nrf7002ek)

config SHIELD_NRF7002EK_NRF7001
 bool
 default $(shields_list_contains,nrf7002ek_nrf7001)

config SHIELD_NRF7002EK_NRF7000
 bool
 default $(shields_list_contains,nrf7002ek_nrf7000)

config SHIELD_NRF7002EK_COEX
 bool
 default $(shields_list_contains,nrf7002ek_coex)
