# I2S (Inter-IC Sound) driver configuration options

# Copyright (c) 2017 Piotr Mienkowski
# SPDX-License-Identifier: Apache-2.0

#
# I2S Drivers
#
menuconfig I2S
	bool "Inter-IC Sound (I2S) bus drivers"
	help
	  Enable support for the I2S (Inter-IC Sound) hardware bus.

if I2S

config I2S_INIT_PRIORITY
	int "Init priority"
	default KERNEL_INIT_PRIORITY_DEVICE
	help
	  Device driver initialization priority.

module = I2S
module-str = i2s
source "subsys/logging/Kconfig.template.log_config"

comment "Device Drivers"

source "drivers/i2s/Kconfig.ambiq"
source "drivers/i2s/Kconfig.esp32"
source "drivers/i2s/Kconfig.litex"
source "drivers/i2s/Kconfig.mcux"
source "drivers/i2s/Kconfig.mcux_flexcomm"
source "drivers/i2s/Kconfig.nrfx"
source "drivers/i2s/Kconfig.renesas_ra"
source "drivers/i2s/Kconfig.sam_ssc"
source "drivers/i2s/Kconfig.siwx91x"
source "drivers/i2s/Kconfig.stm32"
source "drivers/i2s/Kconfig.test"

endif # I2S
