# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_TELINK_TLSR

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/telink/tlsr/soc/telink/tlsr/tlsr951x/Kconfig"

endif # SOC_FAMILY_TELINK_TLSR
