# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_NXP_MCX
	bool

config SOC_FAMILY
	default "nxp_mcx" if SOC_FAMILY_NXP_MCX

source "soc/nxp/mcx/mcxa/Kconfig.soc"
source "soc/nxp/mcx/mcxc/Kconfig.soc"
source "soc/nxp/mcx/mcxn/Kconfig.soc"
source "soc/nxp/mcx/mcxw/Kconfig.soc"
