# Copyright (c) 2024 Nordic Semiconductor ASA
# Copyright (c) 2023-2024 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_INTEL_NIOSV

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/intel/intel_niosv/soc/intel/intel_niosv/niosv/Kconfig"

endif # SOC_FAMILY_INTEL_NIOSV
