# Copyright (c) 2017 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_MPS2

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 25000000

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/arm/mps2/soc/arm/mps2/Kconfig.defconfig.an383"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/arm/mps2/soc/arm/mps2/Kconfig.defconfig.an385"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/arm/mps2/soc/arm/mps2/Kconfig.defconfig.an386"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/arm/mps2/soc/arm/mps2/Kconfig.defconfig.an500"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/arm/mps2/soc/arm/mps2/Kconfig.defconfig.an521"

endif # SOC_SERIES_MPS2
