#
# Copyright 2023-2025 NXP
#
# SPDX-License-Identifier: Apache-2.0
#

config HCI_NXP_ENABLE_AUTO_SLEEP
	bool "BLE Controller auto sleep mode"
	help
	  If enabled, the Controller auto sleep mode will be configured and enabled during HCI init.
	  Auto sleep mode means the Controller will handle its low power state automatically.
	  Enabling this feature will allow to save power at the cost of some latency when sending a HCI
	  message to the Controller as the Host will need to wake it up.

config HCI_NXP_SET_CAL_DATA
	bool "Bluetooth Controller calibration data"
	help
	  If enabled, the Host will send calibration data to the Bluetooth Controller during HCI init.

config HCI_NXP_SET_CAL_DATA_ANNEX100
	bool "Bluetooth Controller calibration data annex 100"
	help
	  If enabled, the Host will send calibration data annex 100 to the Bluetooth Controller during HCI
	  init.

config HCI_NXP_RX_THREAD
	bool "Process RX buffers in a dedicated thread"
	help
	  Some platforms receive the HCI RX buffers in ISR context.
	  If enabled, the HCI RX message is queued by the ISR, and the message is processed
	  in a dedicated thread.

if HCI_NXP_RX_THREAD

config HCI_NXP_RX_STACK_SIZE
	int "HCI RX stack size"
	default 512

config HCI_NXP_RX_MSG_QUEUE_SIZE
	int "HCI RX message queue size"
	default 4

config HEAP_MEM_POOL_ADD_SIZE_BT_NXP_RX_THREAD
	int
	default 768

endif

if BT_NXP

config BT_DIS_MANUF_NAME
	default y

config BT_DIS_MANUF_NAME_STR
	default "NXP"

config BT_HCI_ACL_FLOW_CONTROL
	default n

config BT_BUF_EVT_DISCARDABLE_SIZE
	default 84

config HEAP_MEM_POOL_ADD_SIZE_BT_NXP
	int
	default 256

config FLASH
	default y

endif # BT_NXP

if BT_H4_NXP_CTLR


endif # BT_H4_NXP_CTLR
