# Copyright (c) 2024, Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_MICROCHIP_MEC

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/mec/soc/microchip/mec/mec15xx/Kconfig.defconfig.series"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/mec/soc/microchip/mec/mec172x/Kconfig.defconfig.series"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/mec/soc/microchip/mec/mec174x/Kconfig.defconfig.series"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/mec/soc/microchip/mec/mec175x/Kconfig.defconfig.series"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/microchip/mec/soc/microchip/mec/mech172x/Kconfig.defconfig.series"

endif # SOC_FAMILY_MICROCHIP_MEC
