# Copyright (c) 2023 Nuvoton Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_M46X

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/nuvoton/numaker/m46x/soc/nuvoton/numaker/m46x/Kconfig.defconfig.m467"

endif # SOC_SERIES_M46X
