# Copyright (c) 2024 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/drivers/pinctrl/renesas/drivers/pinctrl/renesas/ra/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/drivers/pinctrl/renesas/drivers/pinctrl/renesas/rcar/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/drivers/pinctrl/renesas/drivers/pinctrl/renesas/rx/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/drivers/pinctrl/renesas/drivers/pinctrl/renesas/rz/Kconfig"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/drivers/pinctrl/renesas/drivers/pinctrl/renesas/smartbond/Kconfig"
