# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

menu "Network Device Drivers"

source "drivers/netdev/Kconfig"

source "drivers/at86rf215/Kconfig"
source "drivers/cc110x/Kconfig"
source "drivers/dose/Kconfig"
source "drivers/mrf24j40/Kconfig"
source "drivers/pn532/Kconfig"
source "drivers/rn2xx3/Kconfig"
source "drivers/slipdev/Kconfig"
endmenu # Network Device Drivers
