# ST Microelectronics STM32U0 MCU line

# Copyright (c) 2024 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_STM32U0X

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32u0x/soc/st/stm32/stm32u0x/Kconfig.defconfig.stm32u031xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32u0x/soc/st/stm32/stm32u0x/Kconfig.defconfig.stm32u073xx"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/st/stm32/stm32u0x/soc/st/stm32/stm32u0x/Kconfig.defconfig.stm32u083xx"

if I2C_STM32

config SHARED_INTERRUPTS
	default y if $(dt_nodelabel_enabled,i2c2) && $(dt_nodelabel_enabled,i2c3)
	default y if $(dt_nodelabel_enabled,i2c2) && $(dt_nodelabel_enabled,i2c4)
	default y if $(dt_nodelabel_enabled,i2c3) && $(dt_nodelabel_enabled,i2c4)

endif # I2C_STM32

endif # SOC_SERIES_STM32U0X
