menu "Invensense"
source "src/drivers/imu/invensense/iam20680hp/Kconfig"
source "src/drivers/imu/invensense/icm20602/Kconfig"
source "src/drivers/imu/invensense/icm20608g/Kconfig"
source "src/drivers/imu/invensense/icm20649/Kconfig"
source "src/drivers/imu/invensense/icm20689/Kconfig"
source "src/drivers/imu/invensense/icm20948/Kconfig"
source "src/drivers/imu/invensense/icm40609d/Kconfig"
source "src/drivers/imu/invensense/icm42605/Kconfig"
source "src/drivers/imu/invensense/icm42670p/Kconfig"
source "src/drivers/imu/invensense/icm42688p/Kconfig"
source "src/drivers/imu/invensense/icm45686/Kconfig"
source "src/drivers/imu/invensense/iim42652/Kconfig"
source "src/drivers/imu/invensense/iim42653/Kconfig"
source "src/drivers/imu/invensense/mpu6000/Kconfig"
source "src/drivers/imu/invensense/mpu6500/Kconfig"
source "src/drivers/imu/invensense/mpu9250/Kconfig"
endmenu #Invensense
