mainmenu "Test (named) choice"

config OPT_Y
  bool "depends on OPT_Yn"

choice
  prompt "pick bool named choice"
  default CH_A 
  depends on OPT_Y
  depends on OPT_TTT
  default CH_C if OPT_BBB && OPT_AAA && OPT_ZZZ
  prompt "P1" if OPT_AAA && OPT_ZZZ
  default E if OPT_ZZZ
  prompt "P2" if OPT_ZZZ
  help 
    Some awesome help text  
    that should be transformed 
  config CH_A 
    bool "Op A"
  config CH_B
    bool "Op B"
  if OPT_DDD
  config CH_C
    bool "Op C" if OPT_AAA && OPT_ZZZ
  endif
  config CMC2
    bool "CMC2" if OPT_AAA && OPT_ZZZ
    depends on MC2
  config CMC3
    bool "CMC3" if OPT_AAA && OPT_ZZZ
    depends on MC2
  config CH_E
    bool "Op E" if OPT_ZZZ
  config CH_D
    bool "Op D" if OPT_ZZZ
endchoice
  menuconfig MCH_Z
    bool "MCH_Z"
    depends on OPT_Y
    depends on OPT_TTT
  menuconfig MC1
    bool "M"
    depends on OPT_AAA && OPT_ZZZ
  menuconfig MC2
    bool "MC2"
    depends on OPT_AAA && OPT_ZZZ

source "uo1/Kconfig"

choice 
  prompt "pick tristate choice"
  config CH_T1
    tristate "Op T1"
  config CH_T2
    tristate "Op T2"
endchoice
