mainmenu "Test (named) choice"

config OPT_Y
  def_bool y

choice NAMED_CH
  prompt "pick bool named choice"
  default CH_A 
  depends on OPT_Y
  depends on AAA if OPT_Z
  default CH_C if BB && AAA && OPT_Z
  config CH_A 
    bool "Op A"
  config CH_B
    bool "Op B"
  if BB
  config CH_C
    bool "Op C" 
  endif
  config CH_D
    bool "Op D" 
endchoice

source "uo1/Kconfig"
#choice 
#  prompt "pick tristate choice"
#  tristate  
#  config CH_T1
#    tristate "Op T1"
#  config CH_T2
#    tristate  "Op T2"
#endchoice  

