source "src/examples/dyn_hello/Kconfig"
source "src/examples/fake_gps/Kconfig"
source "src/examples/fake_imu/Kconfig"
source "src/examples/fake_magnetometer/Kconfig"
source "src/examples/hello/Kconfig"
source "src/examples/matlab_csv_serial/Kconfig"
source "src/examples/px4_mavlink_debug/Kconfig"
source "src/examples/px4_simple_app/Kconfig"
source "src/examples/work_item/Kconfig"
