# Copyright (c) 2021-2025 ATL Electronics
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_BFLB
	bool

config SOC_FAMILY
	default "bflb" if SOC_FAMILY_BFLB

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/bflb/soc/bflb/bl60x/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/bflb/soc/bflb/bl61x/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/bflb/soc/bflb/bl70x/Kconfig.soc"
