# Copyright (c) 2014 Wind River Systems, Inc.
# Copyright (c) 2018 Synopsys, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

if SOC_EMSK

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/snps/emsk/soc/snps/emsk/Kconfig.defconfig.em11d"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/snps/emsk/soc/snps/emsk/Kconfig.defconfig.em7d"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/snps/emsk/soc/snps/emsk/Kconfig.defconfig.em9d"

endif # SOC_EMSK
