# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2024 sensry.io

config SOC_FAMILY_GANYMED
	select BUILD_OUTPUT_BIN

if SOC_SERIES_SY1XX

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/sensry/ganymed/soc/sensry/ganymed/sy1xx/Kconfig"

endif # SOC_SERIES_SY1XX
