#
# Copyright 2021 Huawei France Technologies SASU
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_FAMILY_ROCKCHIP
	bool

config SOC_FAMILY
	default "rockchip" if SOC_FAMILY_ROCKCHIP

rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/rockchip/soc/rockchip/rk3399/Kconfig.soc"
rsource "/home/ljd/wsMA_prototyp/ZRTOS_demo/zephyr/soc/rockchip/soc/rockchip/rk35/Kconfig.soc"
